BODY,TD,DIV,SPAN,P
{
COLOR:#000000;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
A
{
COLOR:#000000;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
A:link
{
COLOR:#E06515;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
A:visited
{
COLOR:#CC0129;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
A:active
{
COLOR:#000000;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
A:hover
{
COLOR:#9A015B;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
.SiteCaption
{
COLOR: #2c51c9;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
}
.SiteMenu
{
COLOR: black;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
TEXT-DECORATION: none;
}
.SiteMenuSelected
{
COLOR: black;
BACKGROUND-COLOR:;
FONT-FAMILY:'Arial';
FONT-SIZE:12;
FONT-WEIGHT:bold;
TEXT-DECORATION: none;
}

